[submodule "podio-php"]
	path = podio-php
	url = https://github.com/podio/podio-php.git
[submodule "view/jstree"]
	path = view/jstree
	url = https://github.com/vakata/jstree.git
[submodule "flight"]
	path = flight
	url = https://github.com/mikecao/flight.git
[submodule "view/DataTables"]
	path = view/DataTables
	url = https://github.com/DataTables/DataTables.git
[submodule "view/ColVis"]
	path = view/ColVis
	url = https://github.com/DataTables/ColVis.git
[submodule "view/Plugins"]
	path = view/Plugins
	url = https://github.com/DataTables/Plugins.git
