<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>Podio Cloud Backup</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href="jquery-ui-1.11.0/jquery-ui.css" rel="stylesheet">
    <link href="jquery-ui-1.11.0/jquery-ui.theme.css" rel="stylesheet">
    <link href="jstree/dist/themes/default/style.css" rel="stylesheet">
    <!-- link href="DataTables/media/css/jquery.dataTables.css" rel="stylesheet" -->
    <link href="DataTables/media/css/jquery.dataTables_themeroller.css" rel="stylesheet">
    <!-- link href="Plugins/integration/jqueryui/dataTables.jqueryui.css" rel="stylesheet" -->
    <link href="ColVis/css/dataTables.colVis.css" rel="stylesheet">
    <link href="ColVis/css/dataTables.colvis.jqueryui.css" rel="stylesheet">
    <link href="view-backup.css" rel="stylesheet">

    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>

<div id="dialog-ajax-error" title="Error">
    <p>The following error occured:</p>
    <pre id="dialog-ajax-error-msg"></pre>
</div>

<div id="container">

<div id="navigationbar">
    <div class="ui-widget-content ui-corner-all" style="margin-bottom: 3px; padding: 5px">
        <img class="horizontal-middle spacing" src="logo.png" width="200" height="40"
             alt="Logo: Podio Cloud Backup"/></div>
    <div class="ui-widget-header ui-corner-all backup-menu" style="padding: 5px; display: none">Your Backups</div>
    <div id="treeview" class="ui-widget-content ui-corner-all backup-menu" style="display: none"></div>
</div>
<div id="header">
        <span class="horizontal-middle spacing" id="login">
            <label for="username">Login</label>
            <input id="username" type="text"/>
            <label for="password">Password</label>
            <input id="password" type="password"/>
            <button id="loginbutton" class="button">Login</button>
            <a href="javascript:showPage('#backupcontent-register')">Register</a>
        </span>

        <span class="horizontal-middle spacing" id="logout" style="display: none;">
            <button id="logoutbutton" class="button">Logout</button>
            <a href="javascript:showHomepage();">Home</a>
        </span>

        <span id="page-links" class="horizontal-middle spacing">
            <a class="spacing" href="javascript:showPage('#backupcontent-about')">About Podio Cloud Backup</a>
            <a href="javascript:showPage('#backupcontent-impress')">Impressum</a>
        </span>
</div>
<div id="currentcontent">
<div id="backupcontent-app" class="backupcontent backupcontent-app" style="display: none">
    <h1>App</h1>

    <h2>Items</h2>
    <table id="content-app" class="display" cellspacing="0" width="100%"></table>
    <div id="content-app-pager"></div>

    <h2 id="content-app-item-title">Selected Item</h2>

    <table id="content-item-table" class="display" cellspacing="0" width="100%"></table>

    <h2>Files</h2>

    <div id="backup-app-files"></div>
    <h2>All Files</h2>

    <div id="backup-app-files-all"></div>
</div>
<div id="backupcontent-org" class="backupcontent backupcontent-org" style="display: none">
    <h1>Organization</h1>

    <h2>Files</h2>

    <div id="backup-org-files"></div>
    <h2>All Files</h2>

    <div id="backup-org-files-all"></div>
</div>
<div id="backupcontent-space" class="backupcontent backupcontent-space" style="display: none">
    <h1>Space</h1>

    <h2>Contacts</h2>

    <div>
        <table id="space-contacts-table" class="display" cellspacing="0" width="100%"></table>
    </div>

    <h2>Files</h2>

    <div id="backup-space-files"></div>
    <h2>All Files</h2>

    <div id="backup-space-files-all"></div>
</div>
<div id="backupcontent-backupiteration" class="backupcontent backupcontent-backupiteration"
     style="display: none">
    <h1>Backup Iteration</h1>

    <div id="backup-iteration-status">Status:</div>

    <h2>Files</h2>

    <div id="backup-iteration-files"></div>
    <h2>All Files</h2>

    <div id="backup-iteration-files-all"></div>
</div>
<div id="backupcontent-backupcollection" class="backupcontent backupcontent-backupcollection"
     style="display: none">
    <h1>Backup Collection</h1>

    <div id="backup-collection-spaceid"></div>
    <button id="run_backup_button"
            title="Starts creation of a new backup iteration (only possible if no backup is currently run)">Run
        Backup Iteration
    </button>
    <button id="delete_backup_button" title="Deletes all backup iterations.">Delete</button>

    <h2>Files</h2>

    <div id="backup-collection-files"></div>
    <h2>All Files</h2>

    <div id="backup-collection-files-all"></div>
</div>
<div id="backupcontent-register" class="backupcontent backupcontent-register" style="display: none">
    <h1>Registration</h1>
    <table>
        <tr>
            <td>email</td>
            <td style="overflow: hidden"><input style="float: left" type="email" id="email">
                        <span id="email_error" class="ui-state-default ui-corner-all ui-icon ui-icon-alert"
                              style="float: left; display: none"></span>
            </td>
        </tr>
        <tr>
            <td>password</td>
            <td style="overflow: hidden"><input type="password" id="new-password" style="float: left">
                        <span id="password_error" class="ui-state-default ui-corner-all ui-icon ui-icon-alert"
                              style="float: left; display: none"></span>
            </td>
        </tr>
        <tr>
            <td>password confirm</td>
            <td style="overflow: hidden"><input type="password" id="password_confirm" style="float: left">
                        <span id="password_confirm_invalid" class="ui-state-default ui-corner-all ui-icon ui-icon-alert"
                              style="float: left; display: none"></span>
            </td>
        </tr>
        <tr>
            <td>podio login</td>
            <td style="overflow: hidden"><input type="text" id="podio_login" style="float: left">
                        <span id="podio_login_invalid" class="ui-state-default ui-corner-all ui-icon ui-icon-alert"
                              style="float: left; display: none"></span>
            </td>
        </tr>
        <tr>
            <td>podio password</td>
            <td style="overflow: hidden"><input type="password" id="podio_password" style="float: left">
                        <span id="podio_password_invalid" class="ui-state-default ui-corner-all ui-icon ui-icon-alert"
                              style="float: left; display: none"></span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="button" id="register_go" value="Register"></td>
        </tr>
    </table>

    <div id="dialog-success" title="Created User">
        <p>Created new user.</p>
    </div>

</div>
<div id="backupcontent-start" class="backupcontent backupcontent-start" style="display: none">
    <h1>Home</h1>

    <h2>Used storage</h2>

    <div id="account-storage">
        <div class="horizontal-middle spacing" style="width: 100px; overflow: visible">
            <div id="used-storage-progress" style="float: left"></div>
            <div id="used-storage-extend"></div>
        </div>
        <span class="horizontal-middle" id="current-storage"></span>
    </div>

    <h2>Create new backup</h2>

    <div title="Create new backup">
        <table>
            <tr>
                <td><label for="create_backup_collection_name">Name</label></td>
                <td><input id="create_backup_collection_name" type="text" title="Name"></td>
            </tr>
            <tr>
                <td><label for="create_backup_collection_space_id">Podio Space ID (optional)</label></td>
                <td><input id="create_backup_collection_space_id" type="text" title="Podio Space ID (optional)">
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="button" value="Create" id="create_backup_collection_button"/></td>
            </tr>
        </table>
    </div>
</div>
<div id="backupcontent-impress" class="backupcontent backupcontent-impress" style="display: none">
    <h1>TODO</h1>
</div>
<div id="backupcontent-about" class="backupcontent backupcontent-about">
    <h1>Podio Cloud Backup</h1>
    is a disaster backup for your data stored at <a href="https://www.podio.com" target="_blank">podio.com</a>. Your
    backups
    is stored independently
    from Podio and hence can be accessed even if all Podio infrastructure or service fails.

    <h2>Why bothering?</h2>

    <p>We belive that Podio is doing a very good job keeping your data accessible. But we belive even more in a
        redundant
        independent backup.

    <p>If you have critical data stored
        at Podio (e.g. billing or contact information) it may damage your business badly if Podio is for some reason not
        accessible. For these cases you could access your data via Podio Cloud Backup.

    <h2>What are the features?</h2>
    <ul>
        <li>Completely independent from Podio (Podio is only contacted for fetching the backups)</li>
        <li>Easy to use web frontend</li>
        <li>Apps/Items</li>
        <ul>
            <li>Items are stored in native format</li>
            <li>All comments at items are stored</li>
            <li>All items are stored additionally as their Excel export</li>
        </ul>
        <li>Files</li>
        <ul>
            <li>Stores all files uploaded to Podio</li>
            <li>Links files stored at other providers (<a href="https://www.dropbox.com ">dropbox.com</a>, ...) for easy
                access
            </li>
        </ul>
        <li>Automatic/Scheduled backups (coming soon)</li>
    </ul>

    <h2>Can I try?</h2>
    Yes, please! <a href="javascript:showPage('#backupcontent-register')">Register</a> and play around with 100 MB free
    backups.

    <h2>How can I provide feedback?</h2>
    As this site is currently in beta-phase, there is still ongoing development. Of course any feedback, bugreports or
    feature requests is very welcome and can be provided via email: <a
        href="mailto:daniel-schreiber@gmx.de?subject=Podio Cloud Backup">daniel-schreiber@gmx.de</a>
</div>
</div>
</div>

<script src="jquery-ui-1.11.0/external/jquery/jquery.js"></script>
<script src="jquery-ui-1.11.0/jquery-ui.js"></script>
<script src="jstree/dist/jstree.js"></script>
<script src="jquery.cookie-1.4.1.min.js"></script>
<script src="DataTables/media/js/jquery.dataTables.js"></script>
<script src="Plugins/integration/jqueryui/dataTables.jqueryui.js"></script>
<script src="ColVis/js/dataTables.colVis.js"></script>

<script>

types = ['backupcollection', 'backupiteration', 'org', 'space', 'app'/*, 'item'*/];

/**
 * filles domId with file information fetched from url
 * @param domId e.g. '#backup-collection-files'
 * @param url
 */
function loadFiles(domId, url) {
    $(domId).text('');
    console.log('query files: ' + url);
    $.ajax({
        url: url,
        success: function (msg) {
            console.log('fetched files (url:' + url + '): ');
            console.log(msg);
            for (var i in msg) {
                $(domId).append(renderFile(msg[i]) + ' ');
            }
        }
    });
}

function addColVis(tableId) {
    var colvis = new $.fn.dataTable.ColVis($(tableId).dataTable().api(), {
        restore: "Restore",
        showAll: "Show all",
        showNone: "Show none"
    });
    $(colvis.button()).insertAfter(tableId + '_filter');
}

function fileSize(a, b, c, d, e) {
    return (b = Math, c = b.log, d = 1024, e = c(a) / c(d) | 0, a / b.pow(d, e)).toFixed(2)
            + ' ' + (e ? 'KMGTPEZY'[--e] + 'B' : 'Bytes')
}

function showPage(pageId) {
    $('.backupcontent').hide();
    $(pageId).show()
}

function showRegister() {

    $('#backupcontent-register').show()
}

function showAbout() {
    $('.backupcontent').hide();
    $('#backupcontent-about').show()
}

function showHomepage() {
    $('.backupcontent').hide();
    $('#backupcontent-start').show()
    $.ajax({
        url: '../account',
        success: function (msg) {
            console.log('account stats:');
            console.log(msg);
            $('#current-storage').text(fileSize(msg['used_storage']) + ' / ' + fileSize(msg['max_storage']));
            $('#used-storage-progress').progressbar({
                max: msg['max_storage'],
                value: msg['used_storage']
            });
            if (msg['max_storage'] < msg['used_storage']) {
                $('#used-storage-extend').progressbar({
                    max: msg['used_storage'] - msg['max_storage'],
                    value: msg['used_storage'] - msg['max_storage']
                });
                var total = msg['used_storage'];
                // "-2" for rounded corners? (they take 2 extra pixels..)
                var storageWidth = "" + Math.floor(100 * msg['max_storage'] / total) - 2 + "px";
                var extendWidth = "" + Math.floor(100 * (msg['used_storage'] - msg['max_storage']) / total) - 2 + "px";
                console.log('progress bar widths:');
                console.log(storageWidth);
                console.log(extendWidth);
                $('#used-storage-extend').css("width", extendWidth);
                $('#used-storage-progress').css("width", storageWidth);
            } else {
                $('#used-storage-progress').css("width", '100px');
            }
        }
    });
}

function getSelectedNode(tree) {
    var selectedNodes = tree.get_selected(true);
    if (selectedNodes.length > 0) {
        return selectedNodes[0];
    } else {
        tree.select_node('ul > li:first');
        return tree.get_selected(true)[0];
    }
}

/**
 * Clears all nodes below the selected (so that on subsequent expand they are loaded again).
 * If parentnode is not given, the currently selected node is used (if no node is selected the first root is chosen as parentnode).
 * @returns {undefined}
 */
function reloadSubtree(parentnode) {
    console.log('parentnode:');
    console.log(parentnode);
    var tree = $('#treeview').jstree(true);
    var node = parentnode === undefined ? getSelectedNode(tree) : tree.get_node(parentnode);
    tree.refresh(node);
    if (parentnode !== undefined) {
        tree.select_node(node);
    }

}

function renderComment(comment) {
    var result = '';
    result += '<i>' + comment.created_by.name + ' (' + comment.created_on + ')</i>';
    result += '<p>' + comment.value + '</p>';
    return result;
}

function renderFile(file) {
    if ('url' in file) { //external file
        return '<a href=' + file['url'] + '>' + file['filename'] + '*</a>';
    } else {
        return '<a href="../file/' + file['filename'] + '?mongofileid=' + file['id'] + '">' + file['filename'] + '</a> ';
    }
}

function renderItem(url) {
    var table = $('#content-item-table').dataTable().api();
    table.clear();
    $('#content-app-item-title').text('Loading Item..');
    $.ajax({
        url: url,
        success: function (msg) {
            console.log('fetchted item: ');
            console.log(msg);
            $('#content-app-item-title').text('Item: ' + msg.title);

            for (var i in msg.fields) {
                table.row.add([msg.fields[i].label, renderFieldValues(msg.fields[i])]);
            }
            table.draw();
            if (parseInt(msg.file_count) > 0) {
                $.ajax({
                    url: url + '/files',
                    success: function (msg) {
                        console.log('fetched files: ');
                        console.log(msg);
                        for (var i in msg) {
                            table.row.add(['<i>File ' + (parseInt(i) + 1) + '</i>', renderFile(msg[i])]);
                        }
                        table.draw();
                    }
                });
            }
            if (parseInt(msg.comment_count) > 0) {
                $.ajax({
                    url: url + '/comments',
                    success: function (msg) {
                        console.log('fetched comments: ');
                        console.log(msg);
                        for (var i in msg) {
                            table.row.add(['<i>Comment ' + (parseInt(i) + 1) + '</i>', renderComment(msg[i])]);
                        }

                        table.draw();
                    }
                });
            } else {
                table.row.add(['<i>No Comments</i>', 'n.a.']);
                table.draw();
            }
        }
    });


}

function renderFieldValue(type, value) {

    if (type == 'date') {
        return  value.start + ' - ' + value.end;

    } else if (type == 'category') {
        return value.value.text;

    } else if (type == 'embed') {
        var originalurl = value.embed.original_url;
        return '<a target="_blank" href="' + originalurl + '">' + originalurl + '</a>';

    } else if (type in ['progress', 'number']) {
        return  value.value;

    } else if (type == 'money') {
        return  value.value + ' ' + value.currency;

    } else if (type == 'duration') {
        var duration_seconds = parseInt(value.value);
        var result = '';
        if (duration_seconds >= 3600) {
            result += Math.floor(duration_seconds / 3600) + ' hours '
        }
        if (duration_seconds >= 60) {
            result += Math.floor((duration_seconds % 3600) / 60) + ' minutes '
        }
        return result + Math.floor(duration_seconds % 60) + ' seconds';

    } else if (type == 'app') {
        return value.value.app.name + ': ' + value.value.item_id + '(' + value.value.title + ')';

    } else if (type == 'location') {
        return value.value;

    } else if (type == 'image') {
        return '<a href="../file/' + value.value.name + '?podiofileid=' + value.value.file_id + '">' + value.value.name + '</a>';

    } else if (type == 'contact') {
        return value.value.name;
    }
    return  value.value;

}

function renderFieldValues(field) {
    var values = field.values.map(function (value) {
        return renderFieldValue(field.type, value);
    });
    return values.join(' | ');
}

/**
 * computes the url for the entity of the node - e.g.: for allbackups -> backup1 -> iteration1 => 'backupcollection/backup1/backupiteration/iteration1
 */
function computeUrl(node) {
    var number_of_parents = node.parents.length;
    var url = '';
    for (var i = 0; i < number_of_parents - 1; i++) {
        url = types[number_of_parents - i - 2] + '/' + $('#treeview').jstree(true).get_node(node.parents[i]).text + '/' + url;
    }
    if (node.id != '#') {
        url = url + types[number_of_parents - 1] + '/' + node.text;
    }
    return url;
}

function postLogin() {
    createNavigationTree();
    showHomepage();
    $('.backup-menu').show('fast');
}

function renderArray(data) {
    if (data === undefined) {
        return '<i>empty</i>';
    } else {
        return data.join(', ');
    }
}

function createLink(data) {
    if (data === undefined) {
        return '<i>empty</i>';
    } else if (Array.isArray(data)) {
        return data.map(function (entry) {
            return createLink(entry);
        }).join(', ');
    } else {
        if (data.indexOf('@') >= 0) {
            return '<a href="mailto:' + data + '">' + data + '</a>';
        } else {
            return '<a target="_blank" href="' + data + '">' + data + '</a>';
        }
    }
}
function createNavigationTree() {
    var jstree = $('#treeview').jstree({
        core: {
            check_callback: true, //allow manual node add/remove!
            multiple: false,
            'data': {
                'url': function (node) {
                    console.log('expanding tree:');
                    console.log(node);
                    var url = computeUrl(node);
                    console.log('computed url:');
                    console.log(url);
                    return '../gui/tree/' + url;
                }
            }
        },
        plugins: ['state']
    });

    console.log('created tree: ' + jstree);

    $('#treeview').on('select_node.jstree', function (e, data) {
        console.log('select_node');
        console.log(data);
        $('.backupcontent').hide();
        currententityurl = '../' + computeUrl(data.node);
        currenturl = currententityurl + '/' + (data.node.parents.length >= types.length ? 'item' : types[data.node.parents.length]);
        console.log('current urls:');
        console.log(currententityurl);
        console.log(currenturl);
        switch (data.node.parents.length) {
            case 1:
                $('#backupcontent-backupcollection').show();
                console.log('querying information using url: ' + currententityurl);
                $.ajax({
                    url: currententityurl,
                    success: function (msg) {
                        console.log('backup metadata:');
                        console.log(msg);
                        $('#run_backup_button').prop('disabled', msg['backupRunning']);
                        $('#backup-collection-spaceid').text('');
                        if ('spaceId' in msg) {
                            $('#backup-collection-spaceid').text('Podio SpaceID: ' + msg['spaceId']);
                        }

                    }
                });

                loadFiles('#backup-collection-files', currententityurl + '/files');
                loadFiles('#backup-collection-files-all', currententityurl + '/files?all=true');
                break;
            case 2:
                $('#backupcontent-backupiteration').show();

                $.ajax({
                    url: currententityurl,
                    success: function (msg) {
                        console.log('backup iteration metadata:');
                        console.log(msg);
                        $('#backup-iteration-status').text('Status: ' + msg['status']);
                    }
                });

                loadFiles('#backup-iteration-files', currententityurl + '/files');
                loadFiles('#backup-iteration-files-all', currententityurl + '/files?all=true');
                break;
            case 3:
                $('#backupcontent-org').show();

                loadFiles('#backup-org-files', currententityurl + '/files');
                loadFiles('#backup-org-files-all', currententityurl + '/files?all=true');
                break;
            case 4:
                $('#backupcontent-space').show();

                $('#space-contacts-table').dataTable({
                    "destroy": true,
                    /*sDom: '<""lfr>t<"F"ip>',*/
                    /*sDom: '<"fg-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix"'+
                     'lfr>t<"fg-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix"'+
                     'ip>',*/
                    "ajax": {
                        "url": currententityurl + '/contacts',
                        "dataSrc": ""
                    },
                    "columns": [
                        {data: 'name', title: 'Name'},
                        {data: 'link', title: 'Link', visible: false, render: createLink},
                        {data: 'mail', title: 'Email', render: createLink},
                        {data: 'phone', title: 'Phone', render: renderArray},
                        {data: 'type', title: 'Type', visible: false},
                        {data: 'organization', title: 'Organization', visible: false, defaultContent: '<i>empty</i>'},
                        {data: 'title', title: 'Title', visible: false, render: renderArray},
                        {data: 'about', title: 'About', visible: false, defaultContent: '<i>empty</i>'},
                        {data: 'address', title: 'Address', visible: false, render: renderArray},
                        {data: 'city', title: 'City', visible: false, defaultContent: '<i>empty</i>'},
                        {data: 'zip', title: 'ZIP', visible: false, defaultContent: '<i>empty</i>'},
                        {data: 'state', title: 'State', visible: false, defaultContent: '<i>empty</i>'},
                        {data: 'country', title: 'Country', visible: false, defaultContent: '<i>empty</i>'},
                        {data: 'url', title: 'URL', visible: false, render: createLink}

                    ]
                });

                var tableId = '#space-contacts-table';
                addColVis(tableId);

                loadFiles('#backup-space-files', currententityurl + '/files');
                loadFiles('#backup-space-files-all', currententityurl + '/files?all=true');
                break;
            case 5:
                $('#backupcontent-app').show();

                loadFiles('#backup-app-files', currententityurl + '/files');
                loadFiles('#backup-app-files-all', currententityurl + '/files?all=true');

                $('#content-app tbody tr').off('click');
                $('#content-item-table').dataTable({
                            destroy: true,
                            columns: [
                                {"title": "Label"},
                                {"title": "Value(s)"}
                            ]
                        }
                );
                addColVis('#content-item-table');
                $('#content-app').dataTable({
                    "destroy": true,
                    "ajax": {
                        "url": currenturl,
                        "dataSrc": ""
                    },
                    "columns": [
                        {"data": "item_id", title: 'Podio ID' },
                        {"data": "title", title: 'Title' },
                        {"data": "link", title: 'Link', render: createLink},
                        {"data": "created_by.name", title: 'Created By'},
                        {"data": "created_on", title: 'Create Date'},
                        {"data": "last_event_on", title: 'Last Change'}
                    ]
                });
                addColVis('#content-app');


                break;
            default :
                console.warn('unexpected type: ' + data.node.data.type);
                $('#backupcontent-start').show();
        }
    });
}

jQuery(document).ready(function () {

    $('.button').button();

    $(document).ajaxSend(function (event, jqXHR, ajaxOptions) {
        if (typeof loginsession !== 'undefined') {
            jqXHR.setRequestHeader('PhpBackupLoginSession', loginsession);
            console.log('using login session:');
            console.log(loginsession);
        } else if (typeof currentuser !== 'undefined') {
            jqXHR.setRequestHeader('Authorization', 'Basic ' + window.btoa(currentuser + ':' + currentpassword));
        } else {
            console.log('no login information found.');
        }
    });

    var logincookie = $.cookie('podio_backup_login_session');
    if (typeof logincookie !== 'undefined') {
        loginsession = logincookie;
        $('#logout').hide();
        $.ajax({
            url: '../login',
            success: function (msg) {
                $('#login').hide();
                $('#logout').show();
                postLogin();
            },
            error: function (msg) {
                console.log('auto login error');
                console.log(loginsession);
                console.log(msg);
                $.removeCookie('podio_backup_login_session', {path: '/'});
            }
        })
    }

    $.ajaxPrefilter(function (options) {
        console.log('ajaxPrefilter');
        console.log(options);
        options.error = function (msg) {
            console.log('error on ajax call:');
            console.log(msg);
            $('#dialog-ajax-error-msg').text(msg['responseText']);
            $('#dialog-ajax-error').dialog('open');
        };

    });


    $('#content-app')
            .on('init.dt', function () {
                $('#content-app tbody').on('click', 'tr', function () {
                    if ($(this).hasClass('selected')) {
                        // no deselect:
                        //$(this).removeClass('selected');
                    }
                    else {
                        $('tr.selected').removeClass('selected');
                        $(this).addClass('selected');
                        var podioId = $('td:first-child', this).text();
                        renderItem(currenturl + '/' + podioId);
                    }
                });
            })

    $("#dialog-ajax-error").dialog({
        autoOpen: false,
        width: 400,
        buttons: [
            {
                text: "Ok",
                click: function () {
                    $(this).dialog("close");
                }
            }
        ]
    });

    $("#dialog-error").dialog({
        autoOpen: false,
        width: 400,
        buttons: [
            {
                text: "Ok",
                click: function () {
                    $(this).dialog("close");
                }
            }
        ]
    });

    $("#dialog-success").dialog({
        autoOpen: false,
        width: 400,
        buttons: [
            {
                text: "Ok",
                click: function () {
                    $(this).dialog("close");
                }
            }
        ]
    });

    $('#delete_backup_button').on('click', function (e, data) {
        $.ajax({
            url: currententityurl,
            type: 'DELETE',
            success: function () {
                var tree = $('#treeview').jstree(true);
                var selectedNode = tree.get_selected(true)[0];
                reloadSubtree(tree.get_parent(selectedNode));
            }
        });
    });

    $('#run_backup_button').on('click', function () {
        console.log('starting backup - url:');
        console.log(currententityurl);
        $.ajax({
            url: currententityurl,
            type: 'POST',
            data: {action: 'doBackup'},
            success: function (msg) {
                reloadSubtree();
                console.log('started backup:');
                console.log(msg);
                $('#run_backup_button').prop('disabled', true);
            }
        });

    });

    $('#create_backup_collection_button').on('click', function () {
        console.log('creating new backup.');
        var url = '../backupcollection/' + $('#create_backup_collection_name').val() + '?spaceId=' + $('#create_backup_collection_space_id').val();
        console.log('creating backup via url: ' + url);
        $.ajax({
            type: 'PUT',
            url: url,
            data: {spaceId: $('#create_backup_collection_space_id').val()},
            success: function (msg) {
                console.log('created new backup:');
                console.log(msg);
                reloadSubtree();
            }
        });
    });

    $('#logoutbutton').on('click', function () {
        $.ajax({
            url: '../logout',
            success: function (msg) {
                $('#login').show('slow');
                $('#logout').hide('slow');
                $.removeCookie('podio_backup_login_session', {path: '/'});
                location.reload();
            }
        });
    });

    $('#loginbutton').on('click', function () {
        var user = $('#username').val();
        var password = $('#password').val();
        $.ajax({
            url: '../login',
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', 'Basic ' + window.btoa(user + ':' + password));
            },
            success: function (msg) {
                $('#login').hide('slow');
                $('#logout').show('slow');
                console.log('login successfull');
                console.log(msg);
                currentuser = user;
                currentpassword = password;
                loginsession = msg['loginsession'];
                $.cookie('podio_backup_login_session', msg['loginsession'], {expires: 7, path: '/'});
                console.log('stored login session in cookie');
                console.log(msg['loginsession']);
                postLogin();
            }

        });
    });

    $('#register_go').on('click', function () {
        console.log('register click');
        $('.ui-icon-alert').hide();
        /*if (false) {
         //TODO
         regex = new RegExp('.+@.+\\..+');
         //result = RegExp.apply($('#email').val().toString(), [regex]);

         console.log(regex);
         result = regex.apply($('#email').val().toString());
         console.log(result);
         $('#email').show("fast");
         return;
         }*/
        if ($('#new-password').val() !== $('#password_confirm').val()) {
            $('#password_confirm_invalid').show("fast");
            return;
        }
        $.ajax({
            url: '../register',
            type: 'POST',
            data: {
                user: btoa($('#email').val()),
                password: btoa($('#new-password').val()),
                podioUser: btoa($('#podio_login').val()),
                podioPassword: btoa($('#podio_password').val())
            },
            success: function (data, textStatus, jqXHR) {
                console.log('user create success');
                console.log('data')
                console.log(data);
                console.log('textStatus')
                console.log(textStatus);
                console.log(jqXHR);
                $('#email').val('');
                $('#new-password').val('');
                $('#podio_login').val('');
                $('#podio_password').val('');
                $('#password_confirm').val('');
                $("#dialog-success").dialog("open");
            }

        });
    });

});
</script>
</body>
</html>
