<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>Browse Backups</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href="jquery-ui-1.11.0/jquery-ui.css" rel="stylesheet">
    <link href="jstree/dist/themes/default/style.css" rel="stylesheet">
    <!-- link href="jqGrid/css/ui.jqgrid.css" rel="stylesheet" -->
    <link href="DataTables/media/css/jquery.dataTables.css" rel="stylesheet">
</head>
<body>

<div id="login">
    <input id="username" type="text"/>
    <input id="password" type="password"/>
    <button id="loginbutton">Login</button>
    <a href="register.html">Register</a>
</div>
<div id="logout" style="display: none">
    <button id="logoutbutton">Logout</button>
</div>

<div id="dialog-ajax-error" title="Error">
    <p>The following error occured:</p>
    <pre id="dialog-ajax-error-msg"></pre>
</div>

<div style="display: block; padding: 20px">
    <div id="treeview" style="float: left; display: block"></div>
    <div style="float: left; display: block; width: auto; padding-left: 50px" id="currentcontent">
        <div id="backupcontent-app" class="backupcontent backupcontent-app" style="display: none">
            <h1>App</h1>
            <h2>Items</h2>
            <table id="content-app" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Podio ID</th>
                    <th>Title</th>
                </tr>
                </thead>

                <tfoot>
                <tr>
                    <th>Podio ID</th>
                    <th>Title</th>
                </tr>
                </tfoot>
            </table>
            <div id="content-app-pager"></div>

            <h2>Files</h2>

            <div id="backup-app-files"></div>
            <h2>All Files</h2>

            <div id="backup-app-files-all"></div>
        </div>
        <div id="backupcontent-org" class="backupcontent backupcontent-org" style="display: none">
            <h1>Organization</h1>

            <h2>Files</h2>

            <div id="backup-org-files"></div>
            <h2>All Files</h2>

            <div id="backup-org-files-all"></div>
        </div>
        <div id="backupcontent-space" class="backupcontent backupcontent-space" style="display: none">
            <h1>Space</h1>

            <h2>Files</h2>

            <div id="backup-space-files"></div>
            <h2>All Files</h2>

            <div id="backup-space-files-all"></div>
        </div>
        <div id="backupcontent-backupiteration" class="backupcontent backupcontent-backupiteration"
             style="display: none">
            <h1>Backup Iteration</h1>

            <h2>Files</h2>

            <div id="backup-iteration-files"></div>
            <h2>All Files</h2>

            <div id="backup-iteration-files-all"></div>
        </div>
        <div id="backupcontent-backupcollection" class="backupcontent backupcontent-backupcollection"
             style="display: none">
            <h1>Backup Collection</h1>

            <div id="backup-collection-spaceid"></div>
            <button id="run_backup_button"
                    title="Starts creation of a new backup iteration (only possible if no backup is currently run)">Run
                Backup Iteration
            </button>
            <button id="delete_backup_button" title="Deletes all backup iterations.">Delete</button>

            <h2>Files</h2>

            <div id="backup-collection-files"></div>
            <h2>All Files</h2>

            <div id="backup-collection-files-all"></div>
        </div>
        <div id="backupcontent-start" class="backupcontent backupcontent-start">
            <h1>Welcome</h1>

            <p>Browse backups in navigation.</p>

            <h2>Create new backup</h2>

            <div title="Create new backup">
                <table>
                    <tr>
                        <td>Name</td>
                        <td><input id="create_backup_collection_name" type="text" title="Name"></td>
                    </tr>
                    <tr>
                        <td>Podio Space ID (optional)</td>
                        <td><input id="create_backup_collection_space_id" type="text" title="Podio Space ID (optional)">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="button" value="Create" id="create_backup_collection_button"/></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<pre id="jsonoutput"></pre>

<script src="jquery-ui-1.11.0/external/jquery/jquery.js"></script>
<script src="jquery-ui-1.11.0/jquery-ui.js"></script>
<script src="jstree/dist/jstree.js"></script>
<script src="jquery.cookie-1.4.1.min.js"></script>
<!-- script src="jqGrid/js/i18n/grid.locale-en.js"></script>
<script src="jqGrid/js/jquery.jqGrid.src.js"></scrip -->
<script src="DataTables/media/js/jquery.dataTables.js"></script>

<script>

types = ['backupcollection', 'backupiteration', 'org', 'space', 'app'/*, 'item'*/];

/**
 * filles domId with file information fetched from url
 * @param domId e.g. '#backup-collection-files'
 * @param url
 */
function loadFiles(domId, url) {
    $(domId).text('');
    console.log('query files: ' + url)
    $.ajax({
        url: url,
        success: function (msg) {
            console.log('fetched files (url:' + url + '): ');
            console.log(msg);
            for (i in msg) {
                if ('url' in msg[i]) { //external file
                    $(domId).append('<a href=' + msg[i]['url'] + '>' + msg[i]['filename'] + '*</a> ');
                } else {
                    $(domId).append('<a href=../file/' + msg[i]['id'] + '>' + msg[i]['filename'] + '</a> ');
                }
            }
        }
    });
}

function getSelectedNode(tree) {
    var selectedNodes = tree.get_selected(true);
    if (selectedNodes.length > 0) {
        return selectedNodes[0];
    } else {
        tree.select_node('ul > li:first');
        return tree.get_selected(true)[0];
    }
}

/**
 * Clears all nodes below the selected (so that on subsequent expand they are loaded again).
 * If parentnode is not given, the currently selected node is used (if no node is selected the first root is chosen as parentnode).
 * @returns {undefined}
 */
function reloadSubtree(parentnode) {
    console.log('parentnode:');
    console.log(parentnode);
    var tree = $('#treeview').jstree(true);
    var node = parentnode === undefined ? getSelectedNode(tree) : tree.get_node(parentnode);
    tree.close_node(node);
    tree.delete_node(node.children);
    node.data.expanded = false;
    if (types.length > node.data.type + 1) {
        tree.create_node(node, 'loading..');
    }
    if (parentnode !== undefined) {
        tree.select_node(node);
    }

}

jQuery(document).ready(function () {

    $(document).ajaxSend(function (event, jqXHR, ajaxOptions) {
        if (typeof loginsession !== 'undefined') {
            jqXHR.setRequestHeader('PhpBackupLoginSession', loginsession);
            console.log('using login session:');
            console.log(loginsession);
        } else if (typeof currentuser !== 'undefined') {
            jqXHR.setRequestHeader('Authorization', 'Basic ' + window.btoa(currentuser + ':' + currentpassword));
        } else {
            console.log('no login information found.');
        }
    });

    $.ajaxPrefilter(function (options) {
        console.log('ajaxPrefilter');
        console.log(options);
        options.error = function (msg) {
            console.log('error on ajax call:');
            console.log(msg);
            $('#dialog-ajax-error-msg').text(msg['responseText']);
            $('#dialog-ajax-error').dialog('open');
        };

    });

    var logincookie = $.cookie('podio_backup_login_session');
    if (typeof logincookie !== 'undefined') {
        loginsession = logincookie;
        $('#logout').hide();
        $.ajax({
            url: '../login',
            success: function (msg) {
                $('#login').hide();
                $('#logout').show();
            },
            error: function (msg) {
                console.log('auto login error');
                console.log(loginsession);
                console.log(msg);
                $('#login').show();
            }
        })
    }

    var jstree = $('#treeview').jstree({
        core: {
            check_callback: true, //allow manual node add/remove!
            multiple: false
        }
    });

    console.log('created tree: ' + jstree);

    $('#treeview').on('select_node.jstree', function (e, data) {
        console.log('select_node');
        console.log(data);
        $('.backupcontent').hide();
        currenturl = data.node.data.url;
        currententityurl = data.node.data.entityurl;
        switch (data.node.data.type) {
            case 0:
                $('#backupcontent-start').show();
                break;
            case 1:
                $('#backupcontent-backupcollection').show();
                console.log('querying information using url: ' + data.node.data.entityurl);
                $.ajax({
                    url: data.node.data.entityurl,
                    success: function (msg) {
                        console.log('backup metadata:');
                        console.log(msg);
                        $('#run_backup_button').prop('disabled', msg['backupRunning']);
                        $('#backup-collection-spaceid').text('');
                        if ('spaceId' in msg) {
                            $('#backup-collection-spaceid').text('Podio SpaceID: ' + msg['spaceId']);
                        }

                    }
                });

                loadFiles('#backup-collection-files', data.node.data.entityurl + '/files');
                loadFiles('#backup-collection-files-all', data.node.data.entityurl + '/files?all=true');
                break;
            case 2:
                $('#backupcontent-backupiteration').show();

                loadFiles('#backup-iteration-files', data.node.data.entityurl + '/files');
                loadFiles('#backup-iteration-files-all', data.node.data.entityurl + '/files?all=true');
                break;
            case 3:
                $('#backupcontent-org').show();

                loadFiles('#backup-org-files', data.node.data.entityurl + '/files');
                loadFiles('#backup-org-files-all', data.node.data.entityurl + '/files?all=true');
                break;
            case 4:
                $('#backupcontent-space').show();

                loadFiles('#backup-space-files', data.node.data.entityurl + '/files');
                loadFiles('#backup-space-files-all', data.node.data.entityurl + '/files?all=true');
                break;
            case 5:
                $('#backupcontent-app').show();

                loadFiles('#backup-app-files', data.node.data.entityurl + '/files');
                loadFiles('#backup-app-files-all', data.node.data.entityurl + '/files?all=true');

                $('#content-app').dataTable( {
                    "destroy": true,
                    "ajax": {
                        "url": data.node.data.url,
                        "dataSrc": ""
                    },
                    "columns": [
                        { "data": "item_id" },
                        { "data": "title" }
                    ]
                } );

                break;
            default :
                console.warn('unexpected type: ' + data.node.data.type)
                $('#backupcontent-start').show();
        }
    });


    $('#treeview').on('open_node.jstree', function (e, data) {
        console.log('opend node');
        console.log(data);
        if (data.node.data.expanded === false) {
            console.log('expanding new node..');
            $.ajax({
                url: data.node.data.url,
                success: function (msg) {
                    $('#treeview').jstree(true).delete_node(data.node.children[0]);
                    data.node.data.expanded = true;

                    var nexttype = types[data.node.data.type + 1];
                    if (typeof nexttype === 'undefined') {
                        nexttype = 'item';
                    }
                    for (i in msg) {
                        var node = $('#treeview').jstree(true).create_node(data.node, msg[i]);
                        $('#treeview').jstree(true).get_node(node).data = {
                            expanded: false,
                            type: data.node.data.type + 1,
                            url: data.node.data.url + '/' + msg[i].toString() + '/' + nexttype,
                            entityurl: data.node.data.url + '/' + msg[i].toString()
                        };
                        if (types.length > data.node.data.type + 1) {
                            $('#treeview').jstree(true).create_node(node, 'loading..');
                        } else {
                            console.log('dont add loading child to last leaf..')
                            console.log(types);
                            console.log(types.length);
                            console.log(data.node.data.type);
                            console.log(data.node.data.type + 2);
                        }
                    }
                }
            })
        }
    });

    $("#dialog-ajax-error").dialog({
        autoOpen: false,
        width: 400,
        buttons: [
            {
                text: "Ok",
                click: function () {
                    $(this).dialog("close");
                }
            }
        ]
    });

    $("#dialog-error").dialog({
        autoOpen: false,
        width: 400,
        buttons: [
            {
                text: "Ok",
                click: function () {
                    $(this).dialog("close");
                }
            }
        ]
    });

    $('#delete_backup_button').on('click', function (e, data) {
        $.ajax({
            url: currententityurl,
            type: 'DELETE',
            success: function (msg) {
                var tree = $('#treeview').jstree(true);
                var selectedNode = tree.get_selected(true)[0];
                reloadSubtree(tree.get_parent(selectedNode));
            }
        });
    });

    $('#run_backup_button').on('click', function (e, data) {
        console.log('starting backup - url:');
        console.log(currententityurl);
        $.ajax({
            url: currententityurl,
            type: 'POST',
            data: {action: 'doBackup'},
            success: function (msg) {
                reloadSubtree();
                console.log('started backup:');
                console.log(msg);
                $('#run_backup_button').prop('disabled', true);
            }
        });

    });

    $('#create_backup_collection_button').on('click', function (e, data) {
        console.log('creating new backup.');
        var url = '../backupcollection/' + $('#create_backup_collection_name').val() + '?spaceId=' + $('#create_backup_collection_space_id').val();
        console.log('creating backup via url: ' + url);
        $.ajax({
            type: 'PUT',
            url: url,
            data: {spaceId: $('#create_backup_collection_space_id').val()},
            success: function (msg) {
                console.log('created new backup:');
                console.log(msg);
                reloadSubtree();
            }
        });
    });

    $('#logoutbutton').on('click', function (e, data) {
        $.ajax({
            url: '../logout',
            success: function (msg) {
                $('#login').show('slow');
                $('#logout').hide('slow');
                $.removeCookie('podio_backup_login_session', {path: '/'});
                location.reload();
            }
        });
    });

    $('#loginbutton').on('click', function (e, data) {
        var user = $('#username').val();
        var password = $('#password').val();
        $.ajax({
            url: '../login',
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', 'Basic ' + window.btoa(user + ':' + password));
            },
            success: function (msg) {
                $('#login').hide('slow');
                $('#logout').show('slow');
                console.log('login successfull');
                console.log(msg);
                currentuser = user;
                currentpassword = password;
                loginsession = msg['loginsession'];
                $.cookie('podio_backup_login_session', msg['loginsession'], {expires: 7, path: '/'});
                console.log('stored login session in cookie');
                console.log(msg['loginsession']);
            }

        });
    });


    var rootnode = $('#treeview').jstree(true).create_node('#', 'All visible Backups');
    $('#treeview').jstree(true).get_node(rootnode).data = {
        expanded: false,
        type: 0,
        url: '../' + types[0]
    };
    $('#treeview').jstree(true).create_node(rootnode, 'loading..');

});


</script>
</body>
</html>
