<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Register</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="jquery-ui-1.11.0/jquery-ui.css" rel="stylesheet">
        <link href="jstree/dist/themes/default/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Registration</h1>
        <table>
            <tr>
                <td>email</td>
                <td style="overflow: hidden"><input style="float: left" type="email" id="email">
                    <span id="email_error" class="ui-state-default ui-corner-all ui-icon ui-icon-alert" style="float: left; display: none"></span>
                </td>
            </tr>
            <tr>
                <td>password</td>
                <td style="overflow: hidden"><input type="password" id="password" style="float: left">
                    <span id="password_error" class="ui-state-default ui-corner-all ui-icon ui-icon-alert" style="float: left; display: none"></span>
                </td>
            </tr>
            <tr>
                <td>password confirm</td>
                <td style="overflow: hidden"><input type="password" id="password_confirm" style="float: left">
                    <span id="password_confirm_invalid" class="ui-state-default ui-corner-all ui-icon ui-icon-alert" style="float: left; display: none"></span>
                </td>
            </tr>
            <tr>
                <td>podio login</td>
                <td style="overflow: hidden"><input type="text" id="podio_login" style="float: left">
                    <span id="podio_login_invalid" class="ui-state-default ui-corner-all ui-icon ui-icon-alert" style="float: left; display: none"></span>
                </td>
            </tr>
            <tr>
                <td>podio password</td>
                <td style="overflow: hidden"><input type="password" id="podio_password" style="float: left">
                    <span id="podio_password_invalid" class="ui-state-default ui-corner-all ui-icon ui-icon-alert" style="float: left; display: none"></span>
                </td>
            </tr>
            <tr><td></td><td><input type="button" id="register_go" value="Register"></td></tr>
        </table>

        <div id="dialog-success" title="Created User">
            <p>Created new user.</p>
            <p>Browse <a href="browse-backups.html">backups</a></p>
        </div>
        <div id="dialog-error" title="Error: Created User">
            <p>Could not create user:</p>
            <pre id="dialog-error-msg"></pre>
        </div>


        <script src="jquery-ui-1.11.0/external/jquery/jquery.js"></script>
        <script src="jquery-ui-1.11.0/jquery-ui.js"></script>

        <script>

            jQuery(document).ready(function() {
                $("#dialog-success").dialog({
                    autoOpen: false,
                    width: 400,
                    buttons: [
                        {
                            text: "Ok",
                            click: function() {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });

                $("#dialog-error").dialog({
                    autoOpen: false,
                    width: 400,
                    buttons: [
                        {
                            text: "Ok",
                            click: function() {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });

                $('#register_go').on('click', function() {
                    console.log('register click');
                    $('.ui-icon-alert').hide();
                    if (false) {
                        //TODO
                        regex = new RegExp('.+@.+\\..+');
                        //result = RegExp.apply($('#email').val().toString(), [regex]);

                        console.log(regex);
                        result = regex.apply($('#email').val().toString());
                        console.log(result);
                        $('#email').show("fast");
                        return;
                    }
                    if ($('#password').val() !== $('#password_confirm').val()) {
                        $('#password_confirm_invalid').show("fast");
                        return;
                    }
                    $.ajax({
                        url: '../register',
                        type: 'POST',
                        data: {
                            user: btoa($('#email').val()),
                            password: btoa($('#password').val()),
                            podioUser: btoa($('#podioUser').val()),
                            podioPassword: btoa($('#podioPassword').val())
                        },
                        error: function(msg) {
                            console.log('user create error');
                            console.log(msg);
                            $('#dialog-error-msg').text(msg['responseText']);
                            $('#dialog-error').dialog('open');
                        },
                        success: function(data, textStatus, jqXHR) {
                            console.log('user create success');
                            console.log('data')
                            console.log(data);
                            console.log('textStatus')
                            console.log(textStatus);
                            console.log(jqXHR);
                            $("#dialog-success").dialog("open");
                        }

                    });
                })
            });

        </script>
    </body>
</html>
