#treeview {
    /*float: left;
    padding: 10px;
    margin: 10px;
    */
    /*background-color: lightblue;*/
}

#container {
    margin: 10px;
    width: 100%;
}

#navigationbar {
    /*float: left;*/
    position: absolute;
    border-color: green;
    border: 1px;
    width: 300px;
}

#currentcontent {
    margin-left: 300px;
    padding-left: 10px;
    padding-right: 10px;
}

#backupcontent-about {
    margin-right: 300px;
}

#used-storage-extend .ui-progressbar-value {
    background-color: red !important;
    background-image: none !important;
}

.ui-widget-header {
    margin-bottom: 3px;
}

#header {
    margin-bottom: 5px;
    margin-left: 300px;
    padding-left: 10px;
}

.horizontal-middle {
    vertical-align: middle;
}

.spacing {
    padding-right: 10px;
}

body {
    font: 80% "Trebuchet MS", sans-serif;
}
