#treeview {
    float: left;
    padding: 10px;
    margin: 10px;
    background-color: lightblue;
    moz-border-radius: 10px;
    webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    khtml-border-radius: 10px;
}

#currentcontent {
    margin: 10px;
    padding: 10px
}
